.navbar {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  background-color: #f1f1f1;
  text-decoration: none;

  a {
    text-decoration: none;

    :hover {
    background-color: #ddd;
    }
    button {
      background-color: inherit;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;


    }
  }
  .active {
    background-color: #ccc;
  }
}


